<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Estimacion de proyectos de software</h3>
            <div>
                <ul>
                    <li>Duración del proyecto: {{proyect.customer.time}}</li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div>
                <h3>Cliente</h3>
                <ul>
                    <li>Nombre del cliente: {{proyect.customer.name}}</li>
                    <li>Dirección: {{proyect.customer.address.city}}</li>
                    <li>Requerimiento: {{proyect.customer.requirement}}</li>
                </ul>
            </div>
            <div>
                <h3>Participantes</h3>
                <div>
                    <Table>
                        <thead>
                            <th>Cantidad:</th>
                            <th>Rol:</th>
                            <th>Salario Mensual:</th>
                            <th>Porcentaje de Participación:</th>
                        </thead>
                        <tbody>
                            @for (item of proyect.monthly_costs.employee; track $index) {4
                                <tr>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.nameRol}}</td>
                                    <td>{{item.detailsRol.project_salary_months}}</td>
                                    <td>{{item.detailsRol.participation}}%</td>
                                </tr>
                            }
                        </tbody>
                    </Table>
                </div>
                <div>
                    <h2>Costos</h2>
                    <div>
                        <h3>Costos Adicionales</h3>
                        <div>
                            <ul>
                                <li>Oficina: {{proyect.monthly_costs.office_rent.total}}</li>
                                <li>Internet: {{proyect.monthly_costs.internet.total}}</li>
                                <li>Computadores: {{proyect.monthly_costs.internet.total}}</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h4>Costo total: USD {{proyect.total_cost}}</h4>
                    </div>
                    <div>
                        <h4>Nómina Mensual: USD {{proyect.cost_nom_mens}}</h4>
                    </div>
                    <div>
                        <h4>Precio de venta final: USD {{proyect.sale_price}}</h4>
                    </div>
                    <div>
                        <h4>Utilidad 32%: USD {{proyect.profit}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>