<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Estimacion de proyectos de software</h3>
            <div>
                <ul class="list-group">
                    <li class="list-group-item"><strong >Duración del proyecto:</strong> {{proyect.customer.time}}</li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div>
                <h3>Cliente</h3>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre del cliente:</strong> {{proyect.customer.name}}</li>
                    <li class="list-group-item"><strong>Dirección:</strong> {{proyect.customer.address.city}} -  {{proyect.customer.address.country}}</li>
                    <li class="list-group-item"><strong>Requerimiento:</strong> {{proyect.customer.requirement}}</li>
                </ul>
            </div>
            <br>
            <div>
                <h3>Participantes</h3>
                <div>
                    <Table class="table table-striped">
                        <thead>
                            <th>Cantidad:</th>
                            <th>Rol:</th>
                            <th>Salario Mensual:</th>
                            <th>Porcentaje de Participación:</th>
                        </thead>
                        <tbody>
                            @for (item of proyect.monthly_costs.employee; track $index) {
                                <tr>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.nameRol}}</td>
                                    <td>{{item.detailsRol.project_salary_months}}</td>
                                    <td>{{item.detailsRol.participation}}%</td>
                                </tr>
                            }
                        </tbody>
                    </Table>
                </div>
                <br>
                <div>
                    <div class="card">
                        <div class="card-header">
                            <h3>Costos Adicionales</h3>
                        </div>
                        
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"> <strong>Oficina:</strong> {{proyect.monthly_costs.office_rent.total}}</li>
                                <li class="list-group-item"><strong>Internet:</strong> {{proyect.monthly_costs.internet.total}}</li>
                                <li class="list-group-item"><strong>Computadores:</strong> {{proyect.monthly_costs.internet.total}}</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h3>Costos Totales del Proyecto</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><strong> Total: </strong> USD {{proyect.total_cost}}</li>
                                <li class="list-group-item"><strong>Nómina Mensual:</strong> USD {{proyect.cost_nom_mens}}</li>
                                <li class="list-group-item"><strong>Precio de venta final:</strong> USD {{proyect.sale_price}}</li>
                                <li class="list-group-item"><strong>Utilidad 32%:</strong> USD {{proyect.profit}}</li>
                            </ul>
                        </div>
                        

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>